/* #1c6f33 color */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
}

.logo__heading {
  text-transform: uppercase;
  color: #1c6f33;
  letter-spacing: 3px;
}

.header__logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  width: 12%;
  font-size: 15px;
  cursor: pointer;
}

.header__logo img {
  width: 35px;
}

.header__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
}

.header__options h4 {
  color: #878787;
}

.login_btn {
  background-color: #1c6f33;
  color: #fff;
  padding: 6px 17px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #1c6f33;
  box-shadow: 3px 26px 163px -103px rgba(97, 82, 82, 0.62);
}

.login_btn:hover {
  background-color: #135024;
}
